/* your custom css */

.Video {
	position: relative;
	padding-top: 56.25%;
}

.Video__iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.VideoLink {
	/* Docusaurus needs a wrapper element. */
}
  
.VideoLink__link {
  display: flex;
  color: currentColor;
  padding: .5rem;
  border-radius: .25rem;
  position: relative;
}
  
.VideoLink__link:hover,
.VideoLink__link:focus {
  text-decoration: none;
  background: var(--white-grey);
}

.VideoLink__link:hover::after,
.VideoLink__link:focus::after {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  background: url("/assets/play-button.svg");
  background-size: 4rem;
  top: 2.75rem;
  left: 5.75rem;
}
  
.VideoLink__thumb {
  max-height: 8rem;
  margin-right: 2rem;
  border: 1px solid var(--light-grey);
}
  
.VideoLink__duration {
  color: #6e6e6e;
}

/* Styles for any pages */
summary {
  cursor: pointer;
}

/* color settings */

body {
  --orange: #C75140;
  --dark-grey: #475466;
  --light-grey: #E1E8F2;
  --white-grey: #F7FAFF;
  --black: #2E3B4D;
  --white: #FFFFFF;

  color: var(--black);
}

a {
  color: #0173ad;
}
a:hover {
  text-decoration: underline;
}

/* To fix h1 position */
article h1 {
  margin-top: 0;
}

.button {
  border-color: var(--orange);
  color: var(--orange);
}

.button:hover {
  background-color: var(--orange);
}

.lightBackground {
  background-color: var(--white-grey);
}

.darkBackground {
  background-color: var(--dark-grey);
}

.headerTitleWithLogo {
  width: 200px;
  font-weight: normal;
}

.nav-footer {
  background-color: var(--black);
}

.nav-footer .sitemap {
  max-width: 1400px;
  padding: 0 20px;
}

.nav-footer .sitemap .nav-home {
  padding: 0;
  width: 100px;
}

/* media queries */

@media only screen and (max-width: 736px) {
  .nav-footer .sitemap {
    margin: 0 !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
